<div class="todo-list">
  <app-todo-create-form
    [todoItem]="newTodoItem"
    [disabled]="isCreatingTodoItem"
    [onChangeTitle]="onChangeNewTodoItem.bind(this)"
    [onChangeDescription]="onChangeNewTodoItem.bind(this)"
    [onCreate]="createNewTodoItem.bind(this)"
  ></app-todo-create-form>
  <div class="todo-list-todo-items">
    <div class="todo-list-todo-items-item" *ngFor="let todoItem of todoItems">
      <app-todo-create-form
        [todoItem]="todoItem"
        [onChangeDescription]="onChangeDescription.bind(this)"
        [onDelete]="deleteTodoItem.bind(this)"
        [disabled]="isBusy(todoItem)"
      ></app-todo-create-form>
    </div>
  </div>
  <div class="todo-list-footer">
    <mat-spinner *ngIf="isGettingTodoItems" diameter="24"></mat-spinner>
    <ng-container *ngIf="hasMoreAvailable()"> No more results. </ng-container>
  </div>
</div>
