@import "../../variables.scss";

:host {
  .todo-list {
    padding: $spacer;
    &-todo-items {
      &-item {
        &:not(:last-child) {
          margin-bottom: $spacer * 2;
        }
      }
    }
    &-footer {
      display: flex;
      justify-content: center;
      padding: $spacer 0;
    }
  }
}
