@import "../../../variables.scss";

:host {
  .todo-list {
    &-search-input {
      width: 100%;
      margin-bottom: $spacer;
    }
    padding: $spacer;
    &-todo-item {
      margin-bottom: $spacer;
    }
    &-footer {
      display: flex;
      justify-content: center;
      padding: $spacer 0;
    }
  }
}
