<div class="todo-list">
  <mat-form-field class="todo-list-search-input">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Ex. Buy pizza"
      [value]="search.newValue"
      (input)="onSearchChanged($event)"
    />
  </mat-form-field>
  <app-todo-create-form
    [todoItem]="newTodoItem"
    [disabled]="isCreatingTodoItem"
    (todoItemChange)="onChangeNewTodoItem($event)"
    (onCreate)="createNewTodoItem($event)"
  ></app-todo-create-form>
  <p *ngIf="!isGettingTodoItems">{{ todoItemCount }} results</p>
  <div class="row">
    <ng-container *ngFor="let group of groupedTodoItems.groups">
      <div class="col-lg-6 todo-list-todo-item" *ngFor="let todoItem of group">
        <app-todo-item-existing-item-update-form
          (onDelete)="onTodoItemDeleted($event)"
          [todoItem]="todoItem"
        ></app-todo-item-existing-item-update-form>
      </div>
    </ng-container>
  </div>
  <div class="todo-list-footer">
    <mat-spinner *ngIf="isGettingTodoItems" diameter="24"></mat-spinner>
    <ng-container *ngIf="hasMoreAvailable()"> No more results. </ng-container>
  </div>
</div>
